@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply min-h-screen w-screen overflow-x-hidden bg-darkBlue font-ClashDisplay;
  }
}

@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
